In [19]:
import mysql.connector as connector

In [20]:
connection = connector.connect(user = "root", password = "abhi123456",db = "littlelemondb")

In [21]:
cursor = connection.cursor()

In [24]:
show_tables_query = "SHOW tables" 
results = cursor.fetchall()

In [25]:
print(results)

[('bookings',), ('customer',), ('delivery',), ('employees',), ('menuitems',), ('menus',), ('orders',), ('ordersview',)]

In [26]:
# Print the results
for row in results:
    print(row)

('bookings',)
('customer',)
('delivery',)
('employees',)
('menuitems',)
('menus',)
('orders',)
('ordersview',)

In [32]:
creating_joins = """
SELECT customer.FullName, 
customer.ContactNumber, 
orders.TotalCost
FROM customer
INNER JOIN orders ON customer.customerID = orders.customerID
WHERE orders.TotalCost > 60;

"""

In [33]:
cursor.execute(creating_joins)
results =cursor.fetchall()

In [34]:
# Print the results
for row in results:
    print(row)

('Alice Johnson', 55567, 181)
('Eva Brown', 44444, 121)
('Daniel White', 99944, 200)
('John Doe', 1233, 175)
('Grace Moore', 11144, 160)
('Olivia Miller', 777999, 153)
('Jane Smith', 98733, 166)
('Bob Williams', 88855, 186)
('Charlie Davis', 2244, 160)
('Liam Taylor', 444888, 210)